*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Work+Sans:wght@500&display=swap');
}
body{
    
}

.header-section{
    background: rgba(255, 144, 14, 0.1);
}
.container{
    width:1000px;
    margin: 0 auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    
    
}
.logo-section{
    font-size: 23px;
    font-family: 'Work Sans';
}
.menu-section ul {
    display: flex;

}
.menu-section ul li{
    list-style: none;
    padding: 15px 20px;
}

.menu-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Work sans';
    
}
.slider-content{
    margin-top: 30px;
}
.slider-content h2{
    justify-content: center;
    font-size: 52px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}

.slider-content p{
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-family: 'work sans';
    line-height: 16px;
    width: 563px;
    margin-left: 200px;
    
}

.slider-content button{
    width: 170px;
    height: 60px;
    font-family: 'Work Sans';
    font-size: 20px;
    border-radius: 10px;
    background-color: #FF900E;
    border: none;
    margin-left: 433px;
    margin-bottom: 35px;
}

.slider-content img{
    width:800px;
    height: 400px;
    margin-left: 103px;
    margin-bottom: 20px;
}
.quick-list{
    margin-top: 40px;
}
.quick-section{
    display: flex;
    
}

.quick-images{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
}
.quick-images img{
    width: 260px;
    height: 260px;
}
.quick-description{
    margin-left: 45px;
    margin-top: 186px;
}
.quick-description h3{
    font-size: 30px;
    font-family: 'work sans';
    
}
.quick-description p{
    font-family: 'work sans';
    font-size: 12px;
    text-align: left;
    line-height: 20px;
}
.quick-1{
    color: #727272;
}
.quick-2{
    color: #131313;
}

.quick-3{
    color: #FF900E;
}

.quick-description button{
    width: 160px;
    height: 55px;
    font-family: 'Work Sans';
    font-size: 20px;
    border-radius: 10px;
    background-color: #FF900E;
    border: none;
    margin-top: 20px;
    margin-bottom: 35px;
}


.feature{
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
}

.feature-content h3{
    font-family: 'work sans';
    font-size: 33px;
    border-left: 3px solid #FF900E;
    padding: 8px;
    height: 23px;
}

.feature-content p{
    font-family: 'work sans';
    font-size:14px;
    margin-top: 20px;
}
.feature-images img{
    width: 450px;
    height: 650px;
    padding-left: 30px;
    
}

.feature-images button{
    width: 168px;
    height: 92px;
    font-family: 'Work Sans';
    font-size: 20px;
    border-radius: 10px;
    background-color: #FF900E;
    border: none;
    position: absolute;
    margin-top: 590px;
    margin-left: -481px;
    padding: 10px;
    color: white;
}
.feature-images button h4{
    font-size:25px;

    
}
.feature-images button p{
    font-size: 14px;
    

}
.feature-list{
    background-color: rgb(253, 249, 245);
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 480px;
    margin-right: 20px;
    margin-left: 20px;
    
}

.feature-list p{
    font-family: 'work sans';
    font-size: 15px;
}

.some{
    margin-top: 30px;
    margin-bottom: 60px;
}

.some h2{
    font-family: 'work sans';
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.some p{
    font-family: 'work sans';
    font-size: 16px;
    line-height:23px;
    
}

.icon {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom:150px;
}

.icon-content{
    width: 150px;
    height: 100px;
    border: 1px solid red;
    padding: 20px;
   text-align: center;
   margin-left: 25px;
}

.icon-content h2{
    font-family: 'work sans';
}

.icon-content p{
    font-family: 'work sans';
}

.sponser{
    text-align: center;
}

.sponser h1{
    font-family: 'work sans';
    font-size: 30px;
    padding-bottom: 10px;
}

.sponser p{
    font-family: 'work sans';
    font-size: 16px;
  
}

.Sponspors-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    color: white;
}

.footer{
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
    font-size: 17px;
    font-family: 'work snans';
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}